[user]
	email = ondrej.zara@gmail.com
	name = Ondrej Zara
	signingkey = B0A5751E616840C5

[color]
	ui = auto

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
	gpgsign = true
